@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-black;
        @apply antialiased;

        font-family: "Google Sans Code", monospace;
        font-weight: 600;
        font-style: semibold;
        font-size: 1.5rem;
        line-height: 1.5;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        /* backdrop-filter: blur(2px); */
    }
}
@layer components {
    .btn {
        @apply px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition;
    }
}
@layer utilities {
    .text-shadow {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
}
@layer utilities        
.backdrop-blur-sm {
    backdrop-filter: blur(4px);
}
