@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white/50 text-black;
        @apply antialiased;
        @apply font-sans;
        font-family: "Delicious Handrawn", cursive;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        /* backdrop-filter: blur(5px); */
    }
}

/* @utility flex-center {
    @apply flex items-center justify-center;
} */
